{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 67,
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
